td{
    width:25%;
   /* height:200px;*/
   text-align: center;
   font-size: 25px;
   background-color: #141414;
}
table{
    width: 100%;
    height: 70vh;
    background-color: rgb(24, 24, 24);
    color: white;
}
td:hover{
    background-color: rgb(45, 44, 44);
    cursor: pointer;
}
body{
    margin: 0;
}
#resultArea{
    height: 30vh;
    background-color: rgb(41, 39, 39);
    color: white;
    font-size: 80px;
    display: flex; /*damit können wir bestimmen, wo sich der
    Inhalt auf der x-Achse befindet, und wo sich der inhalt auf der 
    y-Achse befinden soll.*/
    justify-content: flex-end; /* Diese nutzt man für die x-Achse*/
    align-items: flex-end ;/*damit wird die Position auf die y-Achse bestimmen*/
    padding: 25px;
    box-sizing: border-box;
}
#result{
    background-color: rgb(67, 103, 171);
}
#result:hover{
    background-color: rgb(175, 164, 164);
    cursor: pointer;
}
.highlight{
    background-color: rgb(27, 27, 27);
}